<!DOCTYPE html>
<html>
<head>
  <title>Example Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        <% if @user.nil? %>
        <%= link_to "Dummy panel", dummypage_path %>
        <% else %>
        <%= link_to "User panel", user_path(@user) %>
        <% end %>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary">Button 1</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Button 2</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Button 3</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Button 4</a></li>
        </ul>
      </div>
    </div>
  </header>

  <main class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter text here">
          <button class="btn btn-primary" type="button">Submit</button>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
