<h1>Log in place holder</h1>
<%= form_with url: @some_path, method: :post do |form| %>
    <%= form.text_field :email %>
    <%= form.password_field :password %>
    <%= form.submit "Log in"%>
<% end %>
